<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> CRM</title>
  </head>
  <body>
          <h2>!!! CRM Project !!! </h2>
          <h3> <a href="/contacts"> Home </a> </h3>
          <h3> <a href="/contacts/new">Add new contact</a> </h3>
          <h3> <a href="/about"> About Us </a> </h3>


          <%= yield %>



  </body>

  <footer>   Bitmaker 2018 @copyright</footer>

</html>
