<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

  <body>
    <h1> Add a new Contact  </h1>
    <span>
    <li>
      <form  action="/contacts" method="post">
        <input type="text" name="first_name" >
        <input type="text" name="last_name" >
        <input type="text" name="email" >
        <input type="text" name="note" >
        <input type="submit" value ="Click Here" >
      </form>
    </li>
    </span>
</body>
</html>
